
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <button type="button" class = "btn btn-info" (click)="addEmpForm()">AddEmployee</button>
            <br><br>
            <table class='table table-bordered'>
                <thead>
                    <tr class='table-dark'>
                        <th>id</th>
                        <th>Name</th>
                        &nbsp;&nbsp;
                        <th>Job</th>
                        &nbsp;&nbsp;
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>
            
                </thead>
                <tbody>
                    <tr  *ngFor="let emp of employees">
                        <td>{{emp.id}}</td>
                        <td>{{emp.ename}}</td>
                        &nbsp;&nbsp;
                        <td>{{emp.job}}</td>
                        &nbsp;&nbsp;
                        <td>{{emp.sal}}</td>
                        <td>                              <!-- down in place of red and greenclass="btn btn-info"-->
                         <button type="button" class="btn btn-info" (click)="updateEmp(emp.id)"> Update
                         </button>
                         &nbsp;&nbsp;
                         <button type="button" 
                                 (click)="deleteEmp(emp.id)"> Delete
                         </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>