<p>dept-list works!</p>
<br>
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="https://learn.talentsprint.com/login"> <!-- Sample Link to re direct when we tap logo-->
            <img src="assets/images/dogpawlogo.jpg" height="120%" width="50%" alt="DogPaw" class="img-responsive">
        </a>
    </div>
   <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar-list"   *ngFor = "let dept of department">
                <li>
                    <a routerLink="/dept/{{dept.id}}">{{dept.dname}}</a>
                </li>
            </ul>
        </nav>
    </div> 
</aside>
