

 <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
  
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/dogpawlogo.jpg" alt="bookmyshow" style="width: 3641px; height: 249px">
      </div>

      <div class="carousel-item">
        <img src="assets/images/talentsprint.jpg" alt="bookmyshow" style="width:3641px; height: 249px">
      </div>

      <div class="carousel-item">
        <img src="assets/images/movitimelogo.jpg" alt="TS" style="width:3641px; height: 249px">
      </div>

      <div class="carousel-item">
        <img src="assets/images/talentsprint.jpg" alt="TS" style="width:3641px; height: 249px">
      </div>

      <div class="carousel-item">
        <img src="assets/images/movitimelogo.jpg" alt="pet" style="width:3641px; height: 249px">
      </div> 
    </div>

    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a> 
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a> 
  </div>
  <br><br><br> -->

  <div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
             aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets\images\sunburnalanwalker.png" alt="bookmyshow" style="width: 3641px; height: 249px">
      </div>
      <div class="carousel-item">
        <img src="assets/images/movitimelogo.jpg" class="img-thumbnail" alt="bookmyshow" style="width: 3641px; height: 249px">
      </div>
      <div class="carousel-item">
        <img src="assets/images/talentsprintlogo.jpg" class="img-thumbnail" alt="bookmyshow" style="width: 3641px; height: 249px">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br>
<!-- TRENDING MOVIES-->
<div class="container"> 
  <h2>Trending Movies</h2>
  <hr>
    <div class="col-md-3">
      <img src="assets/images/raksha.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Raksha Bandhan</h4>
      Family
    </div>
    <div class="col-md-3">
      <img src="assets/images/pokiri.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Pokiri</h4>
      Action
    </div>
    <div class="col-md-3">
      <img src="assets/images/vikramlogo.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Vikram</h4>
      Action
    </div>
    <div class="col-md-3">
      <img src="assets/images/sitaramlogo.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Sita Ramam</h4>
      Action/Drama
    </div>
    <div class="col-md-3">
      <img src="assets/images/lalsingh.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Lal Singh</h4>
      Comedy
    </div>
    <div class="col-md-3">
      <img src="assets/images/bimasara.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Bimasara</h4>
      Action
    </div>
    <div class="col-md-3">
      <img src="assets/images/ekvillan.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Ek Villan</h4>
      Mystery
    </div>
    <div class="col-md-3">
      <img src="assets/images/vrona.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Vikranth Rona</h4>
      Action/Thriller
    </div>
    <div class="col-md-3">
      <img src="assets\images\rrrlogo.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>RRR</h4>
      Action/Mystery
    </div>
    
    <div class="col-md-3">
      <img src="assets/images/ravibopan.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Ravi Bopana</h4>
      Drama
    </div>
    <div class="col-md-3">
      <img src="assets\images\ramarao.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Rama Rao</h4>
      Action/Mystery
    </div>
  </div>

  <!--GRID-->
  <h2 class="container" style=" text-align: center;">TRENDING MOVIES</h2><hr>
  <br><br>
<div class="container">
  <div class="col-md-3">
            <img src="assets/images/OIP.jpg" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
            <h4>OIP</h4>
            Action
            <button type="button" class="btn btn-danger btn-md" (click)="buyNow()">Book Tickets</button>
            </div>

            <div class="col-md-3">
                <img src="assets\images\beast.png" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
                <h4>Beast</h4>
                Adventure/Thriller
                <button type="button" class="btn btn-danger btn-md" (click)="buyNow()">Book Tickets</button>
                </div>

                <div class="col-md-3">
                  <img src="assets/images/liger.png" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
                  <h4>Liger</h4>
                  Action
                    <button type="button" class="btn btn-danger btn-md" (click)="buyNow()">Book Tickets</button>
                </div>

                    <div class="col-md-3">
                      <img src="assets/images/karthikaya.png" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
                      <h4>Karthikaya 2</h4>
                      Mystery

                      <button type="button" class="btn btn-danger btn-md" (click)="buyNow()">Book Tickets</button>
                    </div>


</div>
<br><br>





























  <!-- COMMING SOON MOVIES LIST-->
  <hr>
  <div class="container">
  <h2 style="color:#ff0000c7">Comming Soon</h2>
  <hr>
  <div class="col-md-3">
    <img src="assets/images/OIP.jpg" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
    <h4>OIP</h4>
    Action/Adventure
  </div>
  <div class="col-md-3">
    <img src="assets/images/liger.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
    <h4>Liger</h4>
    Action
  </div>
  <div class="col-md-3">
    <img src="assets\images\beast.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
    <h4>Beast</h4>
    Action
  </div>
  <div class="col-md-3">
    <img src="assets/images/karthikaya.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
    <h4>Karthikaya 2</h4>
    Mystery
  </div>
    
    
    <div class="col-md-3">
      <img src="assets/images/viruman.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Viruman</h4>
      Action
    </div>
    <div class="col-md-3">
      <img src="assets/images/topgun.png" alt="pet not found" class="img-rounded" style="width: 250px; height: 350px">
      <h4>Top Gun</h4>
      Mystery/Drama
    </div>
  </div>

  <div>
    <p>
      Supported content
Navbars come with built-in support for a handful of sub-components. Choose from the following as needed:

.navbar-brand for your company, product, or project name.
.navbar-nav for a full-height and lightweight navigation (including support for dropdowns).
.navbar-toggler for use with our collapse plugin and other navigation toggling behaviors.
Flex and spacing utilities for any form controls and actions.
.navbar-text for adding vertically centered strings of text.
.collapse.navbar-collapse for grouping and hiding navbar contents by a parent breakpoint.
Add an optional .navbar-scroll to set a max-height and scroll expanded navbar content.
Here s an example of all the sub-components included in a responsive light-themed navbar that automatically collapses at the lg (large) breakpoint.
Supported content
Navbars come with built-in support for a handful of sub-components. Choose from the following as needed:

.navbar-brand for your company, product, or project name.
.navbar-nav for a full-height and lightweight navigation (including support for dropdowns).
.navbar-toggler for use with our collapse plugin and other navigation toggling behaviors.
Flex and spacing utilities for any form controls and actions.
.navbar-text for adding vertically centered strings of text.
.collapse.navbar-collapse for grouping and hiding navbar contents by a parent breakpoint.
Add an optional .navbar-scroll to set a max-height and scroll expanded navbar content.
Here’s an example of all the sub-components included in a responsive light-themed navbar that automatically collapses at the lg (large) breakpoint.
    </p>
  </div>
  <br>
</div>
</div>
</div>
  <footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</footer>